@model List<Album>

@{
    string title = "All Albums";
}

<h3>@title</h3>

<a asp-controller="Album" asp-action="Add">Add a new album</a>
<span class="linkSpacer">|</span>
<a asp-controller="Studio" asp-action="Add">Add a new studio</a>

<div class="row">
    <table class="table table-bordered table-striped col-sm-9">
        <thead>
            <tr>
                <th>Name</th>
                <th>Year Produced</th>
                <th>Production Studio</th>
                <th>Rating</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var album in Model)
            {
                <tr>
                    <td>@album.Name</td>
                    <td>@album.YearProduced</td>
                    <td>@album.Studio.Name</td>
                    <td>@album.Rating?.ToString("N1")</td>
                    <td>
                        <a asp-controller="Album" asp-action="Edit" asp-route-id="@album.AlbumId">Edit</a>
                        <span class="linkSpacer">|</span>
                        <a asp-controller="Album" asp-action="DeleteConfirmation" asp-route-id="@album.AlbumId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="col-sm-3">
        <vc:top-rated-albums></vc:top-rated-albums>
    </div>
</div>
